* {
  margin: 0;
}

body {
  font-family: Futura Light, sans-serif;
  font-size: 14pt;
  letter-spacing: 1px;
  line-height: 140%;
  background-color: white;
  color: black;
  --navy-blue: #000080;
}

h1, h2, h3, h4 {
  font-size: 24pt;
  font-family: 'Amiko', sans-serif;
  letter-spacing: 0;
  line-height: 120%;
  font-weight: bold;
  color: #008;
}

.page-header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #bbb;
  z-index: 2;
}

.header-logo {
  position: absolute;
  top: 50%;
  left: 140px;
  transform: translateY(-50%);
  height: 70%;
}

.header-buttons-container {
  position: absolute;
  top: 50%;
  right: 200px;
  transform: translateY(-50%);
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.header-buttons-container a {
  text-decoration: none;
  color: black;
  line-height: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  transition-duration: 0.2s;
  margin-left: 50px;
  font-family: 'Amiko', sans-serif;
  font-size: 12pt;
}

.header-buttons-container a:hover {
  border-color: #bbb;
}

.webshop-button {
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translateX(50%) translateY(-50%);
  text-decoration: none;
  padding: 0 15px;
  transition-duration: 0.2s;
  line-height: 40px;
  font-size: 14px;
  font-family: 'Amiko', sans-serif;
  border: 1px solid rgba(0, 0, 128, 1);
  color: var(--navy-blue);
  background-clip: padding-box;
}

.webshop-button:hover {
  background-color: var(--navy-blue);
  color: white;
  border: 1px solid rgba(0, 0, 128, 0);
}

.header-logo img {
  height: 100%;
}

.main-content {
  position: relative;
  width: calc(100% - 170px);
  left: 150px;
}

.content-element {
  width: 100%;
}

.banner {
  padding-top: 80px;
  width: 40%;
  height: calc(100vh - 180px);
  min-width: 450px;
}

.banner h1 {
  margin-bottom: 10px;
}

.banner-link {
  display: inline-block;
  position: absolute;
  margin-top: 20px;
  font-family: "Amiko", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: black;
  letter-spacing: 0;
  font-size: 10pt;
}

.banner-link:before {
  display: block;
  position: absolute;
  content: "";
  width: 70%;
  height: 3px;
  bottom: 0;
  background-color: orange;
  transition-duration: 0.2s;
}

.banner-link:hover:before {
  width: 100%;
}

.banner-link:last-child {
  left: 100px;
}

.downarrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  width: 50px;
  height: 50px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.carousel-container {
  position: relative;
  height: 200px;
  width: 300px;
}

.carousel-content {
  width: 100%;
}

.carousel-element {
  position: absolute;
  opacity: 1;
  font-size: 40px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.carousel-button-left {
  position: absolute;
  font-size: 50px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.carousel-button-right {
  position: absolute;
  font-size: 50px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.carousel-pip-container {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.carousel-pip {
  position: relative;
  background-color: #ccc;
  border-radius: 100px;
  width: 10px;
  height: 10px;
  margin: 0 2px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.carousel-pip:hover {
  background-color: #aaa;
}

.carousel-pip-highlight {
  background-color: #666 !important;
}

.page-footer {
  width: 100%;
  background-color: #111;
}

.hidden {
  display: none !important;
}
