* {
  margin: 0;
}

body {
  font-family: Futura, sans-serif;
  letter-spacing: 1px;
  background-color: white;
  color: black;
}

h1, h2, h3, h4 {
  font-family: 'Amiko', sans-serif;
  color: #008;
}

.page-header {
  position: relative;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #bbb;
}

.header-logo {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  height: 80%;
}

.header-buttons-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 50%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.header-buttons-container a {
  text-decoration: none;
  color: black;
  line-height: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  transition-duration: 0.2s;
  font-family: 'Amiko', sans-serif;
}

.header-buttons-container a:hover {
  border-color: #ccc;
}

.webshop-button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: #008;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  padding: 0 15px;
  transition-duration: 0.1s;
  line-height: 40px;
  font-size: 14px;
  font-family: 'Amiko', sans-serif;
}

.webshop-button:hover {
  background-color: #44c;
}

.header-logo img {
  height: 100%;
}

.main-content {
  width: calc(100% - 30px);
  margin: 0 15px;
}

.content-element {
  width: 100%;
}

.carousel-container {
  position: relative;
  height: 200px;
  width: 300px;
}

.carousel-content {
  width: 100%;
}

.carousel-element {
  position: absolute;
  opacity: 1;
  font-size: 40px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.carousel-button-left {
  position: absolute;
  font-size: 50px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.carousel-button-right {
  position: absolute;
  font-size: 50px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.carousel-pip-container {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.carousel-pip {
  position: relative;
  background-color: #ccc;
  border-radius: 100px;
  width: 10px;
  height: 10px;
  margin: 0 2px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.carousel-pip:hover {
  background-color: #aaa;
}

.carousel-pip-highlight {
  background-color: #666 !important;
}

.page-footer {
  width: 100%;
  background-color: #111;
}

.hidden {
  display: none !important;
}
