* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  --navy-blue: #000080;
  --the-orange: #fe7a23ff;
  --bg-gray: #ddd;
  --side-margin-width: 150px;
  font-family: Futura Light, sans-serif;
  font-size: 13pt;
  letter-spacing: 1px;
  line-height: 140%;
  background-color: white;
  color: black;
}

h1, h2, h3, h4 {
  font-size: 24pt;
  font-family: 'Amiko', sans-serif;
  letter-spacing: 0;
  line-height: 120%;
  font-weight: bold;
  color: var(--navy-blue);
}

.page-header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 3;
  transition-duration: 0.2s;
  background-color: white;
}

.page-header-scrolled {
  background-color: white;
}

.header-logo {
  position: absolute;
  top: 50%;
  left: var(--side-margin-width);
  transform: translateY(-50%);
  height: 70%;
}

.header-buttons-container {
  position: absolute;
  top: 50%;
  right: calc(var(--side-margin-width) + 160px);
  transform: translateX(0px) translateY(-50%);
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.header-buttons-container a {
  text-decoration: none;
  color: black;
  line-height: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  transition-duration: 0.2s;
  margin-left: 50px;
  font-family: 'Amiko', sans-serif;
  font-size: 11pt;
}

.header-buttons-container a:hover {
  border-color: var(--the-orange);
}

.header-link-active {
  border-color: var(--the-orange) !important;
}

.webshop-button {
  position: absolute;
  top: 50%;
  right: var(--side-margin-width);
  transform: translateY(-50%);
  text-decoration: none;
  padding: 0 15px;
  transition-duration: 0.2s;
  line-height: 40px;
  font-size: 14px;
  font-family: 'Amiko', sans-serif;
  border: 1px solid rgba(0, 0, 128, 1);
  color: var(--navy-blue);
  background-clip: padding-box;
}

.webshop-button:hover {
  background-color: var(--navy-blue);
  color: white;
  border: 1px solid rgba(0, 0, 128, 0);
}

.header-logo img {
  height: 100%;
}

.mobile-menu-button {
  display: none;
}

/* CONTENT */
.main-content {
  position: relative;
  width: 100%;
}

.content-element {
  width: calc(100% - 2*var(--side-margin-width));
  height: 400px;
  padding: 100px var(--side-margin-width);
}

/* BANNER */
.banner {
  position: relative;
  padding-top: 50px;
  width: 40%;
  height: calc(70vh - 150px);
  min-width: 450px;
}

.banner h1 {
  position: relative;
  margin-bottom: 10px;
}

.banner p {
  position: relative;
}

.banner-bg {
  background-image: url("../img/Banner_BG.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(70vh - 150px);
  padding-top: 50px;
  padding-bottom: 100px;
  overflow: hidden;
}

.banner-portrait {
  position: absolute;
  height: 100%;
  right: 200px;
  bottom: 0;
}

.banner-link {
  display: inline-block;
  position: absolute;
  margin-top: 20px;
  font-family: "Amiko", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: black;
  letter-spacing: 0;
  font-size: 10pt;
}

.banner-link:before {
  display: block;
  position: absolute;
  content: "";
  width: 70%;
  height: 3px;
  bottom: 0;
  background-color: var(--the-orange);
  transition-duration: 0.2s;
}

.banner-link:hover:before {
  width: 100%;
}

/* CAROUSEL */
.carousel-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.carousel-content {
  width: 100%;
}

.carousel-element {
  position: absolute;
  opacity: 1;
  font-size: 40px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
}

.carousel-button-left {
  position: absolute;
  font-size: 50px;
  left: -80px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #555;
  background-color: black;
  background-clip: content-box;
  width: 30px;
  height: 2px;
  padding: 24px 10px;
  transition-duration: 0.2s;
}

.carousel-button-left::before {
  content: "";
  height: 2px;
  width: 20px;
  position: absolute;
  top: 24px;
  left: 10px;
  background-color: black;
  transform: translateX(-50%) rotate(-45deg) translateX(50%);
}

.carousel-button-left::after {
  content: "";
  height: 2px;
  width: 20px;
  position: absolute;
  top: 24px;
  left: 10px;
  background-color: black;
  transform: translateX(-50%) rotate(45deg) translateX(50%);
}

.carousel-button-right {
  position: absolute;
  font-size: 50px;
  right: -80px;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  cursor: pointer;
  color: #555;
  background-color: black;
  background-clip: content-box;
  width: 30px;
  height: 2px;
  padding: 24px 10px;
  transition-duration: 0.2s;
}

.carousel-button-right::before {
  content: "";
  height: 2px;
  width: 20px;
  position: absolute;
  top: 24px;
  left: 10px;
  background-color: black;
  transform: translateX(-50%) rotate(-45deg) translateX(50%);
}

.carousel-button-right::after {
  content: "";
  height: 2px;
  width: 20px;
  position: absolute;
  top: 24px;
  left: 10px;
  background-color: black;
  transform: translateX(-50%) rotate(45deg) translateX(50%);
}

.carousel-button-left::selection,
.carousel-button-right::selection {
  color: black;
  background-color: transparent;
}

.carousel-pip-container {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.carousel-pip {
  position: relative;
  background-color: #ccc;
  border-radius: 100px;
  width: 10px;
  height: 10px;
  margin: 0 2px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.carousel-pip:hover {
  background-color: #aaa;
}

.carousel-pip-highlight {
  background-color: #666 !important;
}

/* LOWER ELEMENTS */
.content-element-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  width: calc(100% - 2*var(--side-margin-width));
  padding: 100px var(--side-margin-width);
  /*min-height: 400px;*/
}

.dark-bg {
  background-color: var(--bg-gray);
}

.content-blurb {
  width: 100%;
}

.content-blurb h3 {
  color: var(--navy-blue);
  font-size: 18pt;
  font-weight: 400;
}

.content-blurb span {
  color: var(--the-orange);
  font-size: 11pt;
  font-weight: bold;
  line-height: 28px;
}

.content-blurb p {
  font-size: 14pt;
}

.content-image, .content-image-right {
  position: relative;
  width: 100%;
  height: 100%;
}

.content-image img {
  position: absolute;
  max-width: 80%;
  max-height: 100%;
  left: 0;
}

.content-image-right img {
  position: absolute;
  max-width: 80%;
  max-height: 100%;
  right: 0;
}

.content-webshop {
  height: 400px;
}

.content-cases {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 80%;
  max-height: 100%;
  justify-content: space-between;
}

.content-cases img {
  width: 33%;
  object-fit: contain;
}

/* FOOTER */
.page-footer {
  position: relative;
  width: 100%;
}

.content-refs {
  width: 100%;
  min-height: 100px;
  position: relative;
  background-color: white;
  padding: 50px 0;
}

.content-refs h2 {
  text-align: center;
  margin-bottom: 50px;
}

.content-refs-logos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.content-collabs img {
  max-height: 50%;
  max-width: 20%;
}

.true-footer {
  width: 100%;
  background-color: #00002c;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  white-space: nowrap;
  padding: 50px 0;
  font-size: 12pt;
  line-height: 24pt;
}

.true-footer h3 {
  color: white;
  font-size: 18pt;
  margin-bottom: 20px;
}

.true-footer div {
  position: relative;
}

.footer-thing {
  margin-bottom: 8px;
}

.footer-thing p {
  position: relative;
  left: 15%;
  line-height: 20px;
}

.footer-thing i {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.footer-thing:first-of-type i {
  font-size: 16pt;
}

.footer-some a {
  text-decoration: none;
  color: white;
  display: block;
}

.footer-links a {
  color: white;
  display: block;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-copyright {
  position: absolute;
  bottom: 10px;
  right: var(--side-margin-width);
  color: white;
  font-size: 10pt;
}

/* SUBPAGES */
.subpage-content {
  margin: 0 var(--side-margin-width) 150px var(--side-margin-width);
  width: calc(100% - 2*var(--side-margin-width));
}

.subpage-banner {
  position: relative;
  width: 100%;
}

.subpage-blurb {
  position: relative;
  width: 50%;
  text-align: center;
  margin: 30px 25%;
}

.subpage-blurb h1 {
  margin-bottom: 20px;
}

.subpage-element {
  padding: 80px 0;
  border-top: 3px solid #ddd;
}

/* CONSULTING */
.consult-icons {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
  margin: 80px 0;
}

.consult-icons img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.consult-icons h4 {
  text-align: center;
  font-size: 14pt;
  border-bottom: 1px solid #ddd;
}

.consult-icons div {
  cursor: pointer;
}

.consult-element {
  position: relative;
  display: grid;
  grid-template-columns: 40% 60%;
}

.consult-element-image {
  position: relative;
}

.consult-element-image img {
  width: 100%;
}

.consult-element-image::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.consult-element-text h3 {
  position: relative;
  left: -20px;
  margin-bottom: 10px;
  font-size: 18pt;
}

.consult-element-text p {
  position: relative;
  left: 30px;
}

.consult-element-text p::after {
  display: block;
  position: absolute;
  content: "";
  left: -50px;
  top: 7px;
  width: 30px;
  height: 3px;
  background-color: var(--the-orange);
}

.consult-contact {
  display: block;
  text-decoration: none;
  color: black;
  width: 150px;
  border: 1px solid var(--the-orange);
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
  transition-duration: 0.2s;
}

.consult-contact:hover {
  background-color: #eee;
}

/* TUTORIALS */
.tutorial-element {}

.tutorial-element>h2 {
  font-weight: 400;
  margin-bottom: 50px;
}

.tutorial-video-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.video-element {
  position: relative;
  width: 26%;
  margin-bottom: 50px;
}

.video-container {
  position: relative;
  width: 100%;
}

.video-thumbnail {
  position: relative;
  width: 100%;
}

.video-play-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.video-date, .video-length {
  color: #888;
  font-size: 10pt;
}

.video-length {
  position: absolute;
  right: 0;
  bottom: 0;
}

.video-length::after {
  content: "";
  position: absolute;
  display: block;
  top: -10px;
  right: 0;
  width: 80px;
  height: 2px;
  background-color: var(--the-orange);
}

.tutorial-lists {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.tutorial-list-element {
  width: 20%;
}

.tutorial-list-element p {
  border-bottom: 1px solid var(--the-orange);
  font-size: 14pt;
  padding-bottom: 8px;
  margin-bottom: 10px;
}

.tutorial-list-element ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tutorial-list-element li {
  margin-bottom: 10px;
}

.tutorial-list-element li:before {
  content: "•";
  padding-right: 8px;
  color: var(--the-orange);
}

.tutorial-list-element li a {
  text-decoration: none;
}

/* OM OS */
.about-employees {
  position: relative;
  padding: 50px var(--side-margin-width);
  width: calc(100% - 2*var(--side-margin-width));
  background-image: linear-gradient(to right, rgba(0, 0, 128, 0), rgba(0, 0, 128, 0.5));
}

.employees-paragraph {
  position: relative;
}

.employees-paragraph:first-of-type {
  margin-bottom: 50px;
}

.employees-paragraph h4 {
  position: relative;
  margin-bottom: 25px;
  font-weight: 400;
}

.employees-paragraph h4::after {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 3px;
  left: 3px;
  bottom: -35px;
  background-color: var(--the-orange);
}

.employees-paragraph>p {
  width: 50%;
  padding-left: 50px;
}

.portrait-box {
  position: absolute;
  right: 0;
  top: 50px;
  height: 300px;
}

.portrait-box img {
  position: relative;
  display: block;
  height: 100%;
  right: 0;
}

.portrait-subtitle {
  position: absolute;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
}

.fact-box {
  position: absolute;
  top: 350px;
  width: 100%;
}

.fact-box ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cases-title {
  text-align: center;
  margin: 80px 0 60px 0;
  font-weight: 400;
}

.about-cases {
  display: flex;
  position: relative;
  margin: 0 var(--side-margin-width) 100px var(--side-margin-width);
  width: calc(100% - 2*var(--side-margin-width));
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.case-element {
  position: relative;
  width: 30%;
  margin-bottom: 30px;
}

.case-element img {
  width: 100%;
}

/* CONTACT */
.contact-content {
  position: relative;
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
  margin: 60px 0;
}

.contact-content h2 {
  font-weight: 400;
  margin-bottom: 20px;
}

.contact-writingbox {
  position: relative;
  width: 100%;
}

.contact-info {
  position: relative;
  width: 50%;
  margin: 0 0 0 auto;
}

.contact-info h4 {
  font-size: 14pt;
  font-weight: 400;
  margin-bottom: 10px;
}

.contact-info p {
  margin-bottom: 20px;
}

.contact-info p:not(:first-of-type) {
  white-space: nowrap;
}

.contact-info p:not(:first-of-type)::first-line {
  font-weight: bold;
}

/* placing .hidden down here for absolute priority */
.hidden {
  display: none !important;
}

@media only screen and (max-width: 1150px) {
  body {
    --side-margin-width: 100px;
  }
}

@media only screen and (max-width: 1050px) {
  body {
    --side-margin-width: 50px;
  }

  .carousel-button-right {
    right: -50px;
  }

  .carousel-button-left {
    left: -50px;
  }
}

@media only screen and (max-width: 950px) {
  .header-buttons-container a {
    margin-left: 40px;
  }

  .banner-portrait {
    right: 100px;
  }
}

@media only screen and (max-width: 900px) {
  .header-buttons-container {
    right: calc(var(--side-margin-width) + 130px);
  }

  .header-buttons-container a {
    margin-left: 20px;
    font-size: 10pt;
  }

  .banner-portrait {
    right: 5%;
  }

  .webshop-button {
    font-size: 12px;
  }
}

@media only screen and (max-width: 750px) {
  body {
    overflow-x: hidden;
  }

  .subpage-blurb {
    margin: 0 10%;
    width: 80%;
  }

  .header-buttons-container {
    right: 0;
    transform: translateX(100%);
    flex-direction: column;
    background-color: white;
    top: 100px;
    transition-duration: 0.2s;
  }

  .header-buttons-container a {
    margin-left: 0;
    font-size: 12pt;
    padding: 20px 20px;
  }

  .banner-portrait {
    right: 5%;
  }

  .webshop-button {
    display: block;
    font-size: 12px;
    left: 50%;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
  }

  .mobile-menu-button {
    position: absolute;
    display: block;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 38pt;
    z-index: 4;
    cursor: pointer;
    padding: 25px;
  }

  .mobile-menu-button::selection {
    color: black;
    background-color: transparent;
  }

  .consult-icons {
    flex-wrap: wrap;
  }

  .tutorial-lists {
    flex-wrap: wrap;
  }

  .tutorial-list-element {
    width: 100%;
    margin-bottom: 50px;
  }

  .content-element-grid,
  .carousel-element,
  .consult-element,
  .contact-content {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }

  .consult-element-image::after {
    background: none;
  }

  .consult-element-text h3 {
    left: 0;
  }

  .consult-element-text p {
    left: 0;
  }

  .consult-element-text p::after {
    display: none;
  }

  .portrait-box {
    display: none;
  }

  .employees-paragraph>p {
    width: 100%;
    padding: 0;
  }

  .employees-paragraph>h4 {
    padding: 0;
  }

  .employees-paragraph>h4::after {
    display: none;
  }

  .content-cases {
    max-width: 100%;
  }

  .content-image img {
    width: 100%;
    max-width: 100%;
  }

  .content-webshop {
    height: 800px;
  }

  .case-element {
    width: 48%;
  }

  .contact-info {
    width: 100%;
    right: auto;
    margin-top: 50px;
  }
}
